@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";
@source "../../app.config.ts";

@theme static {
	--color-teal: hsl(189, 53%, 41%);
	--color-teal-50: hsl(from var(--color-teal) h s 5%);
	--color-teal-100: hsl(from var(--color-teal) h s 10%);
	--color-teal-200: hsl(from var(--color-teal) h s 20%);
	--color-teal-300: hsl(from var(--color-teal) h s 30%);
	--color-teal-400: hsl(from var(--color-teal) h s 40%);
	--color-teal-500: hsl(from var(--color-teal) h s 60%);
	--color-teal-600: hsl(from var(--color-teal) h s 60%);
	--color-teal-700: hsl(from var(--color-teal) h s 70%);
	--color-teal-800: hsl(from var(--color-teal) h s 80%);
	--color-teal-900: hsl(from var(--color-teal) h s 90%);
	--color-teal-950: hsl(from var(--color-teal) h s 95%);
}

:root {
	--ui-primary: var(--color-teal);
	--ui-header-height: 64px;
	--ui-footer-height: 80px;
}

.prose-container {
	--ui-container: 760px;
}
